body {
  background: #fff;
}

.logo-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5B84F0;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Logo */

.logo {
    width: 12em;
    animation: bounceIn 0.6s;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

/* Navbar */

#navbar {
  z-index: 999;
  top: -70px;
  background-color: #5B84F0;
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  box-shadow: 0px -15px 30px black;
  transition: top 0.3s;
}

.nav {
    align-self: center;
}

.logo-nav img {
    padding: 17px;
}

#navbar li {
    display: inline-block;
    color: white;
    padding: 15px;
    font-size: 17px;
    font-family: "Montserrat";
}

#navbar a {
    color: white;
    text-decoration: none;
}


/* TEAM */

#team-section {
    width: 100%;
    height: 100vh;
}

#description {
    padding-top: 30px;
    width: 100%;
}

.teamimg {
    margin-top: 50px;
    max-width: 100%;
    height: 300px;
}

.box-team {
    margin-top: 50px;
    padding: 0 30px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #3C3C3C;
}

.paragraph {
    font-family: "Nunito", sans-serif;
    color: #707070;
    margin-top: 10px;
    width: 400px;
    font-size: 17px;
    line-height: 27px;
}

/* ICON */

#icon {
    margin-top: 50px;
    background-color: #ddd;
}

.boxicon {
    width: 100px;
    padding: 30px;
}

.info-services {
    margin-top: 20px;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    line-height: 23px;
    color: #707070;
}





/* MEDIA QUERY */


@media screen and (max-width: 772px) {
    .nav {
        display: none;
    }
    
    .logo {
        width: 10em;
    }
    
    .flex-between {
        justify-content: center;
    }  
}

@media screen and (max-width: 614px) {
    .teamimg {
        height: 220px;
    }
    
    .paragraph {
        font-size: 15px;
        line-height: 25px;
        width: 300px;
    }
    
    .box-team {
        padding: 0;
    }
    
    .boxicon {
        padding: 30px 70px;
    }
}
